.row{
    height: auto;
}
.col-xs-2{
    width: 25%;
}
.form{
    width: 50%;
    height: auto;
    border: 1px solid black;
    padding: 2% 6%;
}
input{
    border-radius: 4px;
    box-shadow: none;
    border:1px solid black;
}
.form-validation{
    color: red;
}
#submit-btn{
    border:1px solid #0e0646;
    border-radius: 4px;
}