#header{
    border-bottom: 2px solid rgba(0,0,0,0.7);
    padding : 0 15px;
   /*  color: #ffffff;
    background-color: blue; */
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}